#root {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container-pai {
  margin: 0;
  padding: 0;
  border: solid 1px black;
}

.container-chat {
  height: 89.4vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 23px;
}

.container-inputs {
  display: flex;
  align-items: flex-end;
}

.container-chat p {
  margin: 0;
}

.estilos-p {
  display: flex;
}

.estilos-p p {
  margin-right: 10px;
}

.p-usuario {
  font-weight: bold;
}

.box-input-btn {
  height: 20px;
}

.estiloInputUsuario {
  width: 150px;
}

.estiloInputMensagem {
  width: 500px;
}



